{% extends 'base.html.twig' %}

{% block title %}Nouvelle annonce{% endblock %}

{% block body %}
    <h1>Créer votre annonce en quelques clics</h1>

    {{ include('publication/_form.html.twig') }}

    <a href="{{ path('app_main') }}">Retour à l'acceuil</a>
{% endblock %}
