{% extends 'base.html.twig' %}

{% block title %}Mes favoris{% endblock %}

{% block body %}
    <h1>Mes favoris</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Annonce favorite(s)</th>
            </tr>
        </thead>
        <tbody>
        {% for favorite in favorites %}
            <tr>

                <td>
                    {{ favorite.publication }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_main') }}">Retour</a>
{% endblock %}
